
@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container m-2">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col bg-light rounded">
            <form>

                <div class="form-group m-1">
                    <label for="txtEmpresa">Para registrarse con nosotros contactenos al CorreoEjemplo@Controldetareas.cl </label>                  
                </div>

                
            </form>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>

