@using ControlDeTareasWeb.Negocio;
@{
    ViewBag.Title = "Index";
}

<h2>Listado</h2>

@{List<Empresa> empresas = (List<Empresa>)ViewBag.empresas;}

<table>
    <tr>
        <th>id</th>
        <th>Nombre</th>
    </tr>
    @foreach(var empresa in empresas) 
    {
        <tr>
            <td>@empresa.id_empresa</td>
            <td>@empresa.nombre_empresa</td>
        </tr>
    }
</table>